{% extends "base.html" %}
{% block content %}

<div class="container">
    <section class="section">
        <div class="row justify-comtent-center">
            <div class="col-md-10">
                {% for article in articles %}
                <div class="main-content p-5">
                    <a href="{% url 'details' article.slug %}" style="text-decoration: none; color: black">
                            <p class="text-center">{{article.author}}</p>
                            <h4 class="text-center">{{article.published_date}}</h4>
                            <h2 class="text-center">{{article.title}}/h2>
                            <div class="row">
                            <div class="col-md-6">
                                <p>{{article.content}}</p>
                            </div>
                            <div class="col-md-6">
                                <img src="{{article.post_image.url}}" alt="blog-image">
                            </div>
                        </div>
                    </a>
                    
                </div>
                {% endfor %}
            </div>
        </div>

    </section>

{% endblock content %}